.section-container {
    width: 92%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0 auto;
}

.nos-valeurs {
    background-color: beige;
    width: 50%;

}