:root {
    --color-btn-ttle: #4CAF50;
    --principal-color: #F5F5DC;
    --color: #f1f1f1;
    /* --titre-h: font-family: Palayfair Display; */

}

body {
    background-color: var(--principal-color);
    color: var(--color-btn-ttle);
    box-sizing: border-box;
}

.header-container {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 20px 40px 40px;
    align-items: center;
    box-shadow: 1px 3px 5px rgba(6, 105, 20, 0.1);
}
.header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    gap: 10px;
}
nav ul {
    flex-direction: row;
    display: flex;
    gap: 20px;
}









.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    box-shadow: 2px -2px 5px 2px rgba(6, 105, 20, 0.1);
}
.footer-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}
.footer-section img {
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
}
