/* mise en forme des section de la pages + le responsive de la page */


main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
main img {
    width: 100%;
    background-color: rgba(0, 17, 255, 0.192);
    border-radius: 2%;
    object-fit: cover;
}
