/* mise en forme des section de la pages + le responsive de la page */
.main-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
.section-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.section-container img {
    width: 100%;
    border-radius: 5px;
}