/* Header + footer */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 100%;
    overflow-x: hidden;
}

.header-container {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 10px 40px 40px;
    align-items: center;
    box-shadow: 1px 3px 5px rgba(15, 31, 17, 0.89);
    border-bottom: 0.9px solid rgba(0, 0, 0, 0.685);
    background:linear-gradient( transparent, rgba(0, 0, 0, 0.377))
}

.footer-container {
    background-color: var(--font-principal-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.footer-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding: 20px 10px 20px 40px;
    flex-direction: row;
}

.footer-item {
    width: 20%;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 0 10px;
}
.logo {
    max-width: 30%;
    /* width: 40px;
    height: 40px; */
    border-radius: 20%;
    object-fit: cover;
}

.footer-item img {
    max-width: 50%;
    border-radius: 20%;
    object-fit: cover;
}
.social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.social-media img {
    max-width: 50%;
    /* border-radius: 50%; */
    object-fit: cover;

}

/* style button hambuger */
.button-humburger {
    display: none;
}

.button-humburger  a {
    font-size: 40px;
    padding: 0 10px 0 0;
    margin: 0;
}




























/*Desktop media query*/
@media screen and (max-width: 1440px) {
    /* styles */
    body {
        box-sizing: border-box;
        max-width: 100%;
    }
    .footer-container {
        width: 100%;

    }  
}

/* Tablette media query*/
@media screen and (max-width: 1024px) {
    /* styles */
    body {
        box-sizing: border-box;
        max-width: 100%;
    }
    .footer-container {
        width: 100%;
    }  
}

/* Portable media query*/
@media screen and (max-width: 768px) {
    /* styles */    
    body {
        box-sizing: border-box;
        max-width: 50%;
    }
    .footer-container {
        width: 100%;
    }
    /* style button hambuger */
    .button-humburger {
        display: inline;
        font-size: 30px;
    }
    .nav-container {
        display: none;
    }
    

}